@import "./src/index.scss";

.main {
  @include size(auto, 100%);
  @include flex-center;
  gap: 3em;

  .sort__container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .filter__container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1em;

    .title {
      font-size: 14px;
    }
  }

}